/* ======================================================
    Created on : Nov 29, 2015, 05:15 PM
    Author     : Lily H. Nguyen
   ====================================================== */

@import url('reset.css');

/* ================== standard elements ================== */
* {
    font-size: 11pt;
    font-family: Helvetica;
    background: #808080;
    color: white
}

body {
    margin: 0 15% 0 15%;
}

article {
    padding: 2em;
}

header {
    text-align: center;
}

header h1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

header h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

nav {
    padding: 1em;
    text-align: center;
}

img {
    max-width: 100%;
}

section {
    padding: 2em;
    width: 40%;  
}

footer{
    padding: 1em;
    text-align: center;
}
/* ================== Divider ================== */

#divider {
    width: 100%;
    height: 1px;
    padding-top: .5em;
    padding-bottom: .5em;
}

/* ================== linky stuff ================== */

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

/* ================== classes ================== */

.even{
    background-color: whitesmoke;
}

.odd{
    background-color: lightcyan;
}

.small {
    width: 150px;
}

.content {
    width: 90%;
    margin: auto;
    text-align:justify;
}

/* ================== nav section only ================== */

nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 2em;
}
nav li img:hover{
    background-image: url('images/nav_home_a.png');
}

/* ================== form secti only ================== */

form {
    width: 90%;
    margin: auto;
    text-align: left;
    float: none;
}

fieldset {
    border: 1px solid black;
    display: flex;
}

fieldset label{
    display: block;
    text-align: right;
}

fieldset.userInformation {
    width: 41%;
}

.userInformation input{
    width: 13em;
}

/* ================== table page only ================== */
#table aside{
    height: 600px; 
    float: left; 
    overflow: auto; 
    margin-left: 2em;            
}
#table section{
    width: 35%; 
    height: 600px; 
    float: left; 
    overflow: auto;
}
#table table{
    border: medium #000080 solid;
    border-collapse: collapse;
}

#table td {
    border: thin #000080 solid;
    border-collapse: collapse;
}

#table th{
    text-align: left;
}