/* ======================================================
    Created on : Nov 29, 2015, 05:15 PM
    Author     : Lily H. Nguyen
   ====================================================== */

@import url('reset.css');

@font-face {
    font-family: REIS;
    src: url(REIS-Regular.ttf);
}

@font-face {
    font-family: HelvNeue;
    src: url(HelveticaNeue-Thin.ttf);
}

/* ================== standard elements ================== */
* {
    font-size: 11pt;
    font-family: Helvetica;
    color: black;
}

body {
/*    margin: 0 15% 0 15%;*/
    background-color: white;
}

article {
    width: 60%;
    margin: auto;
    padding: 2em;
}

header {
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.25);*/
}

.headerBar {
    height: 70%;
    background-color: rgba(0, 0, 0, 0.25);
}

header h1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

header h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

img {
    max-width: 100%;
}

section {
    padding: 2em;
    width: 40%;  
}

footer{
    padding: 1em;
    text-align: center;
}

 .content {
    /*width: 60%;*/
    margin: auto;
    text-align:justify;
    background-color: rgba(0, 0, 0, 0.25);
    /*border-radius: 16px;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

 /* ================== Buttony Stuffs ================== */

header {
    height: 60em;
    background-size: 100%;
    background-image: url('../images/bg2.jpg');

    -webkit-animation-name: example;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 10;
}

@-webkit-keyframes example {
    /*0%   {background-image: url('../images/bg2.jpg');}*/
    25%  {background-image: url('../images/bg3.jpg');}
    50%  {background-image: url('../images/bg2.jpg');}
    75%  {background-image: url('../images/bg3.jpg');}
    100% {background-image: url('../images/bg2.jpg');}
}

header img {
    width: 500px;
    height: auto;
    padding-top: 10em;
 }

 /* ================== Buttony Stuffs ================== */

.button {
    border-radius: 6px;
    border: none;
    padding: 6px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #fafafa;
    color: #555555;
    margin-right: 1em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: #e1e1e1;
    transition-duration: 0.4s;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* ================== Divider ================== */

#divider {
    width: 100%;
    height: 1px;
    padding-top: .5em;
    padding-bottom: .5em;
}

/* ================== linky stuff ================== */

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

/* ================== classes ================== */

.even{
    background-color: whitesmoke;
}

.odd{
    background-color: lightcyan;
}

.small {
    width: 150px;
}

/* ================== nav section only ================== */

nav {
    /*background-color: rgba(0, 0, 0, 0.25);*/
    text-align: center;
    padding: .5em;
    padding-bottom: 1em;
}

nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 2em;

    font-family: HelvNeue;
    color: white;
    font-size: 14pt;
}

nav ol li a{
    font-family: HelvNeue;
    color: black;
    font-size: 14pt;
    text-decoration: none;
}

nav ol li a:visited{
    color: black;
}

nav ol li a:hover{
    color: #a6c249;
}

nav ol li a:link{
    color: black;
}

.activePage {
    color: #a6c249;
}

/* ================== form secti only ================== */

.formWrapper {
    padding: 1.5em;
}

legend {
    font-family: REIS;
    font-size: 20pt;
    color: #ff9700;
}

input[type="text"] {
    border-radius: 4px;
    border:none;
    background-color: #e1e1e1; 
    color: #555555;
}

textarea {
    border-radius: 4px;
    border:none;
    background-color: #e1e1e1; 
    color: #555555;
}

form {
    /*width: 90%;*/
    margin: auto;
    text-align: left;
    float: none;
    padding-top: 3em;
}

label {
    margin-bottom: 1em;
    color: #a6c249;
}

fieldset {
    /*border: 1px solid black;*/
    margin-bottom: 1em;
}
.userInformation {
    width: 50%;
}

.userInformation input{
    width: 13em;
    padding: 3px;
}

.userInformation label{
    display: block;
    text-align: right;
}

.teaInformation {
    /*width: 100%;*/
}

.teaInformation input {
    padding: 3px;
}

#txtTeaName {
    width: 22em;
}

#txtBrandName {
    width: 40em;
}

.teaInformation select {
    width: 6em;
    background-color: #e1e1e1; 
    color: #555555;
}

.teaInformation .tiOneRow {
    display: flex;
}

.teaInformation label {
    padding-right: 2em;
}

.reviewInformation {
    /*width: 100%;*/
}

.reviewInformation label {
    display: block;
}

.reviewInformation input {
    padding: 3px;
}

#txtBody {
    width: 99.5%;
    height: 10em;
}

#txtBody textarea {
    padding: 2em;
}

.buttonGroup {
    text-align: center;
}

/* ================== table page only ================== */
#table aside{
    height: 600px; 
    float: left; 
    overflow: auto; 
    margin-left: 2em;            
}
#table section{
    width: 35%; 
    height: 600px; 
    float: left; 
    overflow: auto;
}
#table table{
    border: medium #000080 solid;
    border-collapse: collapse;
}

#table td {
    border: thin #000080 solid;
    border-collapse: collapse;
}

#table th{
    text-align: left;
}